<!DOCTYPE html>
<html>

<head>
  <title>{{ title }}</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{#if favicon}}
  <link rel="shortcut icon" type="image/x-icon" href="{{ favicon }}" />
  {{/if}}

  <style>
    /* Enables ReDoc component to fill whole page and to have a configurable background */
    body {
      margin: 0;
      padding: 0;
      background-color: {{ theme.backgroundColor }};
    }

    /* Fix being unable to apply theming to request params, query and body titles */
    .sc-iqAclL, .iupIzr, .sc-jcwpoC, .kyvWZW {
      color: {{ theme.colors.text.secondary }} !important
    }

    /* Fix being unable to apply theming to bottom border of mentioned titles  */
    .iupIzr {
      border-bottom-color: {{ theme.colors.text.secondary }}4C !important
    }

    /* Fix being unable to apply theming to payload and code samples selected text */
    .react-tabs__tab--selected:not(.tab-success) {
      color: {{ theme.sidebar.activeTextColor }} !important
    }

    /* Add theme to try it button */
    .tryBtn {
      border-radius: 5px;
      border-style: none;
      box-sizing: border-box;
      cursor: pointer;
      font-size: 14px;
      margin: 0px 14px 0px -4px;
      padding: 5px 10px;
      background-color: {{ theme.rightPanel.backgroundColor }};
      color: {{ theme.rightPanel.textColor }};
    }

    /* Add theme to try it frame */
    .swagger-ui p, h4, h5 {
      font-family: {{ theme.typography.fontFamily }} !important;
    }

    .swagger-ui input {
      border-style: none !important;
      background: {{ theme.rightPanel.backgroundColor }} !important;
      color: {{ theme.rightPanel.textColor }} !important;
    }

    .opblock {
      border-style: none !important;
    }

    .opblock-body {
      background: {{ theme.codeBlock.backgroundColor }} !important;
    }

    .opblock-body p, h4, h5 {
      color: {{ theme.rightPanel.textColor }} !important;
    }

    .response-col_status, .response-col_description, .parameter__name, .parameter__type, .parameter__in, .prop-format {
      color: {{ theme.rightPanel.textColor }} !important;
    }

    .btn.execute, .download-contents {
      background-color: {{ theme.colors.primary.main }} !important;
      border-color: {{ theme.colors.primary.main }} !important;
      color: {{ theme.rightPanel.textColor }} !important;
    }

    .btn-clear {
      border-width: 1px !important;
      border-color: {{ theme.rightPanel.textColor }} !important;
      color: {{ theme.rightPanel.textColor }} !important;
    }

    .body-param__text, .highlight-code, .microlight {
      background: {{ theme.rightPanel.backgroundColor }} !important;
      color: {{ theme.rightPanel.textColor }} !important;
      font-family: {{ theme.typography.code.fontFamily }} !important;
    }

    /* Add webkit scrollbar support */
    * {
      scrollbar-width: auto;
      scrollbar-color: {{ theme.scrollbar.trackColor }} {{ theme.scrollbar.thumbColor }};
    }

    *::-webkit-scrollbar {
      width: {{ theme.scrollbar.width }};
    }

    *::-webkit-scrollbar-track {
      background: {{ theme.scrollbar.thumbColor }};
    }

    *::-webkit-scrollbar-thumb {
      background-color: {{ theme.scrollbar.trackColor }};
    }
  </style>
</head>

<body>
  <div id="redoc-container"></div>
  <script src="https://cdn.jsdelivr.net/npm/redoc@2.0.0-rc.66/bundles/redoc.standalone.js"> </script>
  <script src="https://cdn.jsdelivr.net/gh/wll8/redoc-try@1.4.1/dist/try.js"></script>
  <script>
    const currentUrl = window.location.href.split(/[?#]/)[0];
    const currentOpenApiUrl = currentUrl.replace(/\/docs$/, '/openapi/json');
    const openApi = '{{ openApiUrl }}' || currentOpenApiUrl;
    const redocOptions = JSON.parse('{{{ options }}}');

    {{ disableTryIt }}
      ? Redoc.init(openApi, redocOptions, document.getElementById('redoc-container'))
      : initTry({ openApi, redocOptions, tryText: '⯈', pure: true });
  </script>
</body>

</html>
