<!DOCTYPE html>
<html>

<head>
  <title>{{ title }}</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{#if favicon}}
  <link rel="shortcut icon" type="image/x-icon" href="{{ favicon }}" />
  {{/if}}

  <style>
    /* Enables ReDoc component to fill whole page and to have a configurable background */
    body {
      margin: 0;
      padding: 0;
      background-color: {{ theme.backgroundColor }};
    }

    /* Fix being unable to apply theming to request params, query and body titles */
    .sc-iqAclL, .iupIzr, .sc-jcwpoC, .kyvWZW {
      color: {{ theme.colors.text.secondary }} !important
    }

    /* Fix being unable to apply theming to bottom border of mentioned titles  */
    .iupIzr {
      border-bottom-color: {{ theme.colors.text.secondary }}4C !important
    }

    /* Fix being unable to apply theming to payload and code samples selected text */
    .react-tabs__tab--selected:not(.tab-success) {
      color: {{ theme.sidebar.activeTextColor }} !important
    }

    /* Add style to try it button */
    .tryBtn {
      border-radius: 5px;
      border-style: none;
      box-sizing: border-box;
      cursor: pointer;
      font-size: 14px;
      margin: 0px 14px 0px -4px;
      padding: 5px 10px;
      background-color: {{ theme.rightPanel.backgroundColor }};
      color: {{ theme.rightPanel.textColor }};
    }

    /* Add webkit scrollbar support */
    * {
      scrollbar-width: auto;
      scrollbar-color: {{ theme.scrollbar.trackColor }} {{ theme.scrollbar.thumbColor }};
    }

    *::-webkit-scrollbar {
      width: {{ theme.scrollbar.width }};
    }

    *::-webkit-scrollbar-track {
      background: {{ theme.scrollbar.thumbColor }};
    }

    *::-webkit-scrollbar-thumb {
      background-color: {{ theme.scrollbar.trackColor }};
    }
  </style>
</head>

<body>
  <div id="redoc-container"></div>
  <script src="https://cdn.jsdelivr.net/npm/redoc@2.0.0-rc.66/bundles/redoc.standalone.js"> </script>
  <script src="https://cdn.jsdelivr.net/gh/wll8/redoc-try@1.4.1/dist/try.js"></script>
  <script>
    const currentUrl = window.location.href.split(/[?#]/)[0];
    const currentOpenApiUrl = currentUrl.replace(/\/docs$/, '/openapi/json');
    const openApi = '{{ openApiUrl }}' || currentOpenApiUrl;
    const redocOptions = JSON.parse('{{{ options }}}');

    {{ disableTryIt }}
      ? Redoc.init(openApi, redocOptions, document.getElementById('redoc-container'))
      : initTry({ openApi, redocOptions, tryText: '⯈' });
  </script>
</body>

</html>
