<!DOCTYPE html>
<html>

<head>
  <title>{{ title }}</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{#if favicon}}
  <link rel="shortcut icon" type="image/x-icon" href="{{ favicon }}" />
  {{/if}}

  <base target="_blank">

  {{{ fontsHtml }}}

  <style>
    /* Enables ReDoc component to fill whole page and to have a configurable background */
    body {
      margin: 0;
      padding: 0;
      background-color: {{ theme.backgroundColor }};
    }

    /* Fix sidebar operation badge unaligned with text */
    .sc-euEtCV {
      margin-top: 5px !important;
    }

    /* Hide powered by footer (MIT) */
    .sc-ikXwFM {
      display: none !important;
    }

    /* Fix tables background color */
    .sc-iBzEeX tr {
      background-color: {{ theme.backgroundColor }} !important;
    }

    /* Fix request headings font and bottom border color */
    .sc-iqAclL, .sc-jcwpoC {
      color: {{ theme.colors.text.primary }} !important;
    }
    .sc-iqAclL {
      border-bottom-color: {{ theme.colors.text.primary }}4C !important;
    }

    /* Fix spacing of patterns */
    .sc-jOFryr {
      margin-left: 5px !important;
      margin-right: 5px !important;
    }

    /* Fix examples button background color */
    .sc-fKgJPI.jRgSCj {
      background-color: {{ theme.backgroundColor }} !important;
    }

    /* Fix response description alignment */
    .sc-eEVmNe {
      display: flex !important;
    }
    .sc-dTSzeu {
      margin-top: 1px !important;
      margin-left: 2px !important;
    }
    .sc-Arkif {
      margin-left: 5px !important;
      margin-bottom: 1px !important;
    }

    /* Hide required tag on responses */
    .sc-fmdNqN .sc-TtZnY {
      display: none !important;
    }

    /* Fix 3rd nested schema background color */
    .sc-dIvrsQ .sc-dIvrsQ {
      background-color: {{ theme.backgroundColor }} !important;
    }

    /* Fix right panel code font */
    .redoc-json code {
      font-family: {{ theme.typography.code.fontFamily }} !important;
    }

    /* Fix right panel servers overlay background and font color */
    .sc-EZqKI {
      background-color: {{ theme.rightPanel.servers.overlay.backgroundColor }} !important;
    }
    .sc-jXcxbT {
      border-style: none !important;
      background-color: {{ theme.rightPanel.servers.url.backgroundColor }} !important;
    }
    .sc-jXcxbT, .sc-jXcxbT > span {
      color: {{ theme.rightPanel.textColor }} !important;
    }

    /* Fix right panel example dropdown background and font color */
    .sc-kLojOw {
      background-color: {{ theme.codeBlock.backgroundColor }} !important;
    }
    .sc-gXfVKN {
      background-color: {{ theme.rightPanel.backgroundColor }} !important;
      color: {{ theme.rightPanel.textColor }} !important;
    }
    .sc-gXfVKN:hover {
      background-color: {{ theme.codeBlock.backgroundColor }} !important;
    }

    /* Fix selected tab theme */
    .react-tabs__tab, .tab-success, .tab-redirect, .tab-error {
      border-top: 0px !important;
      border-left: 0px !important;
      border-right: 0px !important;
      border-radius: 0px !important;
      border-width: 2px !important;
      border-color: {{ theme.codeBlock.backgroundColor }} !important;
      background-color: {{ theme.rightPanel.backgroundColor }} !important;
    }
    .react-tabs__tab--selected {
      border-color: {{ theme.rightPanel.textColor }} !important;
    }

    /* Fix Authenticate button margins */
    .setAuth {
      margin-left: 0px !important;
      margin-bottom: 20px !important;
    }

    /* Add try it button theme */
    .tryBtn {
      border-radius: 5px;
      border-style: none;
      box-sizing: border-box;
      cursor: pointer;
      font-size: 14px;
      margin: 0px 14px 0px -4px;
      padding: 5px 10px;
      background-color: {{ theme.rightPanel.backgroundColor }};
      color: {{ theme.rightPanel.textColor }};
    }

    /* Add try it swagger frame theme */
    .swagger-ui p, .swagger-ui h4, .swagger-ui h5 {
      font-family: {{ theme.typography.fontFamily }} !important;
    }
    .swagger-ui input {
      border-style: none !important;
      background: {{ theme.rightPanel.backgroundColor }} !important;
      color: {{ theme.rightPanel.textColor }} !important;
    }
    .opblock {
      border-style: none !important;
    }
    .opblock-body {
      background: {{ theme.codeBlock.backgroundColor }} !important;
    }
    .opblock-body p, .opblock-body h4, .opblock-body h5 {
      color: {{ theme.rightPanel.textColor }} !important;
    }
    .response-col_status, .response-col_description, .parameter__name, .parameter__type, .parameter__in, .prop-format {
      color: {{ theme.rightPanel.textColor }} !important;
    }
    .btn.execute, .btn.authorize, .download-contents {
      background-color: {{ theme.colors.primary.main }} !important;
      border-color: {{ theme.colors.primary.main }} !important;
      color: {{ theme.rightPanel.textColor }} !important;
    }
    .btn-clear, .btn-done {
      border-width: 1px !important;
      border-color: {{ theme.rightPanel.textColor }} !important;
      color: {{ theme.rightPanel.textColor }} !important;
    }
    .body-param__text, .highlight-code, .microlight {
      background: {{ theme.rightPanel.backgroundColor }} !important;
      color: {{ theme.rightPanel.textColor }} !important;
      font-family: {{ theme.typography.code.fontFamily }} !important;
    }

    /* Add swagger auth theme */
    .modal-ux {
      background: {{ theme.sidebar.backgroundColor }} !important;
    }
    .modal-ux h3, .modal-ux h4, .modal-ux p, .modal-ux label {
      color: {{ theme.sidebar.textColor }} !important;
    }

    /* Add webkit scrollbar support */
    * {
      scrollbar-width: auto;
      scrollbar-color: {{ theme.scrollbar.trackColor }} {{ theme.scrollbar.thumbColor }};
    }

    *::-webkit-scrollbar {
      width: {{ theme.scrollbar.width }};
    }

    *::-webkit-scrollbar-track {
      background: {{ theme.scrollbar.thumbColor }};
    }

    *::-webkit-scrollbar-thumb {
      background-color: {{ theme.scrollbar.trackColor }};
    }
  </style>
</head>

<body>
  <div id="redoc-container"></div>
  <script src="https://cdn.jsdelivr.net/npm/redoc@2.0.0-rc.66/bundles/redoc.standalone.js"> </script>
  <script src="https://cdn.jsdelivr.net/gh/wll8/redoc-try@1.4.1/dist/try.js"></script>
  <script>
    const currentUrl = window.location.href.split(/[?#]/)[0];
    const currentOpenApiUrl = currentUrl.replace(/\/docs$/, '/docs/json');
    const openApi = '{{ openApiUrl }}' || currentOpenApiUrl;
    const redocOptions = JSON.parse('{{{ options }}}');
    const { authBtnText, authBtnPosSelector } = redocOptions;

    {{ disableTryIt }}
      ? Redoc.init(openApi, redocOptions, document.getElementById('redoc-container'))
      : initTry({ openApi, redocOptions, tryText: '⯈', pure: true, authBtnText, authBtnPosSelector });
 
  </script>
</body>

</html>
