<!DOCTYPE html>
<html>

<head>
  <title>{{ title }}</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{#if favicon}}
  <link rel="shortcut icon" type="image/x-icon" href="{{ favicon }}" />
  {{/if}}

  <style>
    body {
      margin: 0;
      padding: 0;
    }

    * {
      scrollbar-width: auto;
      scrollbar-color: {{ scrollbar.trackColor }} {{ scrollbar.thumbColor }};
    }

    *::-webkit-scrollbar {
      width: {{ scrollbar.width }};
    }

    *::-webkit-scrollbar-track {
      background: {{ scrollbar.thumbColor }};
    }

    *::-webkit-scrollbar-thumb {
      background-color: {{ scrollbar.trackColor }};
    }
  </style>
</head>

<body>
  <div id="redoc-container"></div>
  <script src="https://cdn.jsdelivr.net/npm/redoc@2.0.0-rc.66/bundles/redoc.standalone.js"> </script>
  <script src="https://cdn.jsdelivr.net/gh/wll8/redoc-try@1.4.1/dist/try.js"></script>
  <script>
    const currentUrl = window.location.href.split(/[?#]/)[0];
    const currentOpenApiUrl = currentUrl.replace(/\/docs$/, '/openapi/json');
    const openApi = '{{ openApiUrl }}' || currentOpenApiUrl;
    const redocOptions = JSON.parse('{{{ options }}}');

    {{ disableTryIt }}
      ? Redoc.init(openApi, redocOptions, document.getElementById('redoc-container'))
      : initTry({ openApi, redocOptions, tryText: '⯈' });
  </script>
</body>

</html>
